<div class="container">
  <footer class="footer">
    <small> 
    Copyright &copy; <%= link_to "Rachit Ahuja", "http://www.rachitahuja.com" %></a> 
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>